<form role="form">
    <div class="form-group">
        <label for="firstname">FirstName:</label>
        <input type="text" class="form-control" id="firstname" ng-model="FirstName">
    </div>
    <div class="form-group">
        <label for="lastname">LastName:</label>
        <input type="text" class="form-control" id="lastname" ng-model="LastName">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="editContact()">Edit</button>
    <button type="submit" class="btn btn-danger" ng-click="deleteContact()">Delete</button>
</form>