<!DOCTYPE html>
<html lang="en" ng-app="ContactsApp">
<head>
    <meta charset="UTF-8">
    <title>Contact List</title>
    {% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{cssFile}}">
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Contacts</h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#/">Home</a></li>
                <li><a href="#/contacts">All Contacts</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-12" ng-view></div>
    </div>
</div>
{% for jsFile in jsFiles %}
<script src="{{jsFile}}"></script>
{% endfor %}


</body>
</html>